<section class="retrieve-booking-wrapper">
  <h2>RETRIVE YOUR BOOKING</h2>
  <p>
    You can find your booking by filling out your family name and the booking code in your booking confirmation.
  </p>

  <!--  retrieve booking form-->
  <form [formGroup]="retrieveBookingForm" (ngSubmit)="onRetrieveBooking()" role="form">

    <!--  error message if booking not exist -->
    <p class="error" *ngIf="errorMessages.code && errorMessages.code === 'bookingNotExist'">
      Booking is not exist. please check your booking code or family name and try again.
    </p>
    <!--  message if booking exist -->
    <p class="valid" *ngIf="errorMessages.code && errorMessages.code === 'bookingExist'">
       Your booking is exist.
    </p>
    <!--  booking code -->
    <p>
      <label for="bookingCode">Booking code</label>
      <input id="bookingCode" #refbookingCode type="text" name="bookingCode" formControlName="bookingCode" />
      <span class="error" *ngIf="retrieveBookingForm.controls['bookingCode'].hasError('minlength')" role="alert">
        Booking code must be at least 5 characters long.
      </span>
      <span class="error" *ngIf="retrieveBookingForm.controls['bookingCode'].hasError('maxlength')" role="alert">
        Booking code must not not be more than 6 characters long.
      </span>
      <span class="error" *ngIf="retrieveBookingForm.controls['bookingCode'].hasError('pattern')" role="alert">
        Booking code must only contains characters and numbers between 2 and 9.
      </span>
    </p>

    <!-- family name -->
    <p>
      <label for="familyNamee">Family name</label>
      <input id="familyNamee" type="text" #refFamilyName name="familyName" formControlName="familyName" />
      <span class="error" *ngIf="retrieveBookingForm.controls['familyName'].hasError('minlength')" role="alert">
        Name must be at least 2 characters long.
      </span>
      <span class="error" *ngIf="retrieveBookingForm.controls['familyName'].hasError('maxlength')" role="alert">
        Name must not not be more than 30 characters long.
      </span>
      <span class="error" *ngIf="retrieveBookingForm.controls['familyName'].hasError('pattern')" role="alert">
        Name must only contains characters.
      </span>
    </p>

    <input type="submit" value="Retrieve booking" [disabled]="!retrieveBookingForm.valid" />

  </form>
</section>
